* {
    box-sizing: border-box;
    margin:0;
    padding:0;
}

.container {
display: flex;
flex-wrap: wrap;
width: 600px;
border: black 2px dotted;
}

.clear{
    display:flex;
    flex-wrap: wrap;
    width:25%;
    height: 100px;
    border: black 2px dotted;
}
.multiply{
    display:flex;
    flex-wrap: wrap;
    width:25%;
    height: 100px;
    border: black 2px dotted;
}
.number{
    display:flex;
    flex-wrap: wrap;
    width:25%;
    height: 100px;
    border: black 2px dotted;
}
.minus{
    display:flex;
    flex-wrap: wrap;
    width:25%;
    height: 100px;
    border: black 2px dotted;
}
.equal{
    display:flex;
    flex-wrap: wrap;
    width:25%;
    height: 100px;
    border: black 2px dotted;
}
.divide{
    display:flex;
    flex-wrap: wrap;
    width:25%;
    height: 100px;
    border: black 2px dotted;
}
.plus{
    display:flex;
    flex-wrap: wrap;
    width:25%;
    height: 100px;
    border: black 2px dotted;
}
.spacebar{
    display:flex;
    flex-wrap: wrap;
    width:75%;
    height: 100px;
    border: black 2px dotted;
}
